# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python virtual environments
venv/
env/
.venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Uncomment to ignore processed data if too large
data/raw/

# data/processed/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs and databases
*.log
*.sqlite3

# Environment files
.env
.envrc

# MacOS system files
.DS_Store

# Others
*.bak
*.tmp
*.out
